<div id="AddSurcharge" class="modal fade" role="dialog" style="display:contents;">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Surcharge</h4>
                @Html.Partial("SurchargeForm")
            </div>
        </div>
    </div>
</div>
