@{
    ViewBag.Title = "Democratic Money";
    Layout = "~/Views/Shared/_LayoutOctagonDashboard.cshtml";
}

<div class="row">
    <a href="http://democraticmoney.azurewebsites.net" target="_blank">
        <div class="col-lg-12" style="width: 500px">
            <h1 class="page-header" style="color: #859298; font-size: 30px;">
                 Democratic Money
            </h1>
        </div>
    </a>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Investments
            </div>
            <div class="panel-body">
                <div id="demmoney-area-chart"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Revenues
            </div>
            <div class="panel-body">
                <div id="demmoney-bar-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Trades
            </div>
            <div class="panel-body">
                <div id="demmoney-donut-chart"></div>
            </div>
        </div>
    </div>
</div>
