@{
    ViewBag.Title = "VendBot";
    Layout = "~/Views/Shared/_LayoutOctagonDashboard.cshtml";
}

@*@Styles.Render("~/Content/bootstrap-lumen.css")*@

<div class="row">
    <a href="@Url.Action("VendBot", "Octagon", new {logo = ViewBag.Logo, businessName = ViewBag.BusinessName})" target="_blank">
        <div class="col-lg-12" style="width: 500px">
            <h1 class="page-header" style="color: #859298; font-size: 30px;">
                ATM Management Studio
            </h1>
        </div>
    </a>
</div>


<div class="row">
    <!-- TRANSACTIONS -->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Transactions
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                            Period
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#">Daily</a>
                            </li>
                            <li>
                                <a href="#">Weekly</a>
                            </li>
                            <li>
                                <a href="#">Monthly</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div id="vendbot-transactions-chart"></div>
            </div>
        </div>
    </div>
    <!-- END TRANSACTIONS -->
    <!--/////////////////////////////-->
    <!-- TRANSACTIONS BY LOCATION -->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Transactions By Location
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                            Period
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#">Daily</a>
                            </li>
                            <li>
                                <a href="#">Weekly</a>
                            </li>
                            <li>
                                <a href="#">Monthly</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                            Location
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="#">Location 1</a>
                            </li>
                            <li>
                                <a href="#">Location 2</a>
                            </li>
                            <li>
                                <a href="#">Location 3</a>
                            </li>
                            <li>
                                <a href="#">Location 4</a>
                            </li>
                            <li>
                                <a href="#">Location 5</a>
                            </li>
                            <li>
                                <a href="#">Location 6</a>
                            </li>
                            <li>
                                <a href="#">Location 7</a>
                            </li>
                            <li>
                                <a href="#">Location 8</a>
                            </li>
                            <li>
                                <a href="#">Location 9</a>
                            </li>
                            <li>
                                <a href="#">Location 10</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="vendbot-transactions-location-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END TRANSACTIONS BY LOCATION -->
</div>

<!-- ALERTS -->
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Sales By Product
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                    Period
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">Daily</a>
                    </li>
                    <li>
                        <a href="#">Weekly</a>
                    </li>
                    <li>
                        <a href="#">Monthly</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                    Product
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">Product 1</a>
                    </li>
                    <li>
                        <a href="#">Product 2</a>
                    </li>
                    <li>
                        <a href="#">Product 3</a>
                    </li>
                    <li>
                        <a href="#">Product 4</a>
                    </li>
                    <li>
                        <a href="#">Product 5</a>
                    </li>
                    <li>
                        <a href="#">Product 6</a>
                    </li>
                    <li>
                        <a href="#">Product 7</a>
                    </li>
                    <li>
                        <a href="#">Product 8</a>
                    </li>
                    <li>
                        <a href="#">Product 9</a>
                    </li>
                    <li>
                        <a href="#">Product 10</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div id="vendbot-product-sales-chart"></div>
            </div>
        </div>
    </div>
</div>


