@model OctagonPlatform.Models.Partner
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}

<h1>@Model.BusinessName Overview</h1>
<div id="logo">
    @*@Html.RenderAction("Index", "Logos")*@
</div>
