
@model IEnumerable<OctagonPlatform.Models.Partner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}

<div class="page-header">
    <h3 class="panel-title">List Partners</h3>
</div>
    <p>
        @Html.ActionLink("Add Partner", "Create", "Partners", routeValues:null, htmlAttributes: new{@class = "fa fa-plus fa-fw" })
    </p>
   
        

