@model OctagonPlatform.Models.FormsViewModels.ReportsViewModel

@{
    ViewBag.Title = "Reports Dashboard";
}

<h2>Reports Dashboard</h2>
@Html.Partial("../Error/_PartialAlert")
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    foreach (var item in Model.AvailableReports)
    {
        var check = item.Selected ? "checked" : " ";
        <label>
            <input type="checkbox"      name="SelectedReports"   value="@item.Value" @check/> @item.Text
            </label>
       <p> &nbsp;</p>
    }
    <input type="submit" value="Acept" class="btn btn-default"  />

}
