@model OctagonPlatform.Models.FormsViewModels.SurchargeFormViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}
<h2>Delete</h2>

<h3 class="alert-warning">Are you sure you want to delete this record?</h3>
<div>

    @using (Html.BeginForm("Delete", "Surcharge", routeValues: new {id = Model.Id, terminalId = Model.TerminalId}))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <input type="submit" value="Delete" class="btn btn-primary" />
                <button type="reset" onclick="history.back();" class="btn btn-default">Cancel</button>

            </div>
        </div>
    }
</div>
