<table>
   
    <tr >
        <th style="text-align: left; padding: 8px;background-color: #ecf4f9;height:25pt">Company :</th>
        <th style="text-align: left; padding: 8px;background-color: #ecf4f9;height:25pt">Oddisey Group</th>
        <th style="text-align: left; padding: 8px;background-color: #ecf4f9;height:25pt"></th>
        <th style="text-align: left; padding: 8px;background-color: #ecf4f9;height:25pt"></th>
        <th style="text-align: left; padding: 8px;background-color: #ecf4f9;height:25pt">Date:</th>
        <th style="text-align: left; padding: 8px;background-color: #ecf4f9;height:25pt">@DateTime.Now.ToString("MM/dd/yyyy")</th>
    </tr>
    
</table>
