@using GridMvc.Html
@using System.Dynamic
@using System.Reflection;
@using System.Data;

@{
    WebGrid grid = null;
    if (TempData["List"] != null)
    {
        DataTable dt = (DataTable)TempData["List"];
        var model = new List<dynamic>(dt.Rows.Count);
        foreach (DataRow dr in dt.Rows)
        {
            var obj = (IDictionary<string, object>)new ExpandoObject();
            foreach (DataColumn dc in dt.Columns)
            {
                obj.Add(dc.ColumnName, dr[dc.ColumnName] ?? "");
            }
            model.Add(obj);
        }
        grid = new WebGrid(model, canSort: false);
    }
}

@if (TempData["List"] != null)
{
    <!-- Single button -->

   
    <div id="TableExport" class="row" style="overflow-y: scroll; height:600px;">
        @grid.GetHtml(
           tableStyle: "table table-striped",
           htmlAttributes: new { id = "grid", width = "100%" }
            )
    </div>
    <div id="myfirstchart" style="height: 100%;width:100%"></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

}




