
<footer id="footer">
    <div style="background: gray; text-align: center; margin: 0px; padding:10px">
        <p style="color:white; font-family: raleway">Copyright (c) 2017Octagon</p>
    </div>
</footer>

