

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminSB.cshtml";
}

<h1>Upload Logo</h1>
<h2>@ViewBag.Error</h2>
@using (Html.BeginForm("Upload", "Logos", new { partnerId = @ViewBag.PartnerId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
       <input class="form-control" type="file" name="file" /> 
    </div>
    <br/>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" onclick="history.back();" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </div>
}