@model OctagonPlatform.Models.Partner

<h1>Upload Logo</h1>

@{
    using (Html.BeginForm("Upload", "Logos", FormMethod.Post, new {enctype = "multipart/form-data"}))

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <label for="file">Select Logo</label>
    <input type="file" name="file" id="file"/>
    <br/>
    <label> Upload Logo: </label>
    <input type="submit" value="Upload" class="btn btn-primary"/>

}