

<h1>Upload Logo</h1>
@using (Html.BeginForm("Upload", "Logos", new {partnerId = @ViewBag.PartnerId}, FormMethod.Post,new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <label for="file">SElect logo</label>
    <input type="file" name="file" id="file"/>
    <br/>
    <label>Upload Logo: </label><input type="submit" class="submit-button" value="Upload"/>
}