@model OctagonPlatform.Models.FormsViewModels.VaultCashVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h3 class="alert-info">Create VaultCash</h3>
@Html.Partial("VaultCashForm")
