<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Sections/Header") 
</head>
<body>
<div id="wrapper">
        @RenderBody()   
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
@Html.Partial("Sections/Scripts")
@RenderSection("scripts", required: false)
</body>
</html>