.alingleft {
    width: 50%;
    float: none;
    margin-left: 50px;
}

.delete {
    width: 50%;
   }

.fontdelete{
    color: red;
}

.rowDetail {
    text-decoration: none;
    text-align:center;

}

.imageupload{
    float:right;
}