#logo {
  max-height:42px;
  margin-right:5px;
  margin-top:-3px;
  display:inline-block;
}

#promo {
  text-align:center;
  padding:40px;
  background:url(../../assets/img/carousel1.jpg);
  background-size:cover;
}

@media (max-width:991px) {
  #promo {
    padding:20px;
  }
    promo .jumbotron {
        padding: 20px;
    }
}

#promo .jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.25);
  max-width:800px;
  margin:0 auto;
}

.site-section {
  text-align:center;
  padding:2px;
}

a:hover, a:focus {
  text-decoration:none !important;
}

@media (min-width:1200px) {
  .navbar-default {
    background-color:#fefdfd;
    border-color:#fefefe;
  }
}


@media (max-width:767px) {
    #vision {
        margin: 0 auto;
        align-items: center;
        margin-top: 10px;
    }
    #innovation {
        margin: 0 auto;
        margin-left: 0px;
        margin-top: 10px;
    }
    #team {
        margin: 0 auto;
        margin-left: 0px;
        margin-top: 10px;
    }
}


    #container-fluid {
        align-content: center;
    }

    @media (min-width:1200px) {
        #container-fluid {
            width: 1200px;
        }
    }

    @media (max-width:767px) {


        #map {
            align-self: auto;
            align-items: center;
            align-content: flex-end;
        }
    }

hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    width: 100%;
}
